<!DOCTYPE html>
<html>
<head>
  <title>Lina</title>
  <%= stylesheet_link_tag    "lina/application", media: "all" %>
  <%= stylesheet_link_tag    "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", media: "all" %>
  <%= javascript_include_tag "lina/application" %>
  <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
