<h1>hello apidoc is launched!</h1>
<ul>
  <% @api_controllors.each do |t| %>
    <li><%= t %></li>
    <ul>
      <li><%= debug t._actions %></li>
    </ul>
  <% end %>
</ul>

<h2>Routes:</h2>
<table>

  <thead>
  	<tr>
      <th>name</th>
  		<th>verb</th>
  		<th>path</th>
  		<th>reqs</th>
  	</tr>
  </thead>
  <tbody>
  	<% @routes.each do |route| %>
  	  <tr>
  	    <td><%= route[:name] %></td>
  	    <td><%= route[:verb] %></td>
  	    <td><%= route[:path] %></td>
  	    <td><%= route[:reqs] %></td>
  	  </tr>
  	<% end %>
  </tbody>
</table>
<ul>
</ul>
